<div class="col-xs-12">
  <p class="text-center">
    <strong>Movements For Avaibles Product</strong>
  </p>
  <div class="box">
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Availability</th>
          <th>Evolution</th>
        </tr>
        </thead>

        <tbody>
          <tr>
            <td>Available</td>
            <td>
              <div class="progress-group">
                <span class="progress-text">Movements</span>
                <span class="progress-number"><%= @availables.count %>/<%= Movement.count %></span>

                <div class="progress sm">
                  <div class="progress-bar progress-bar-aqua" style="width: <%= ((@availables.count/Movement.count.to_f)*100.00) %>%"></div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Unavailable</td>
            <td>
              <div class="progress-group">
                <span class="progress-text">Movements</span>
                <span class="progress-number"><%= @unavailables.count %>/<%= Movement.count %></span>

                <div class="progress sm">
                  <div class="progress-bar progress-bar-aqua" style="width: <%= ((@unavailables.count/Movement.count.to_f)*100.00) %>%"></div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>