<p id="notice"><%= notice %></p>

<h1>Movements</h1>
<div class="col-xs-12">
  <div class="box">
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Datetime</th>
            <th>Id item</TH>
            <th>Id status</th>
            <th>Id sector</th>
            <th>Id floor</th>
            <th>Item price</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @movements.each do |movement| %>
            <tr>
              <td><%= movement.datetime %></td>
              <td><%= movement.item_id %></td>
              <td><%= movement.status_id %></td>
              <td><%= movement.sector_id %></td>
              <td><%= movement.floor_id %></td>
              <td><%= movement.item_price %></td>
              <td><%= link_to 'Show', movement %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Movement', new_movement_path %>
