<p id="notice"><%= notice %></p>

<div class="col-md-12">
  <div class="box">
    <!-- /.box-header -->
    <div class="box-header">
      <h1>Movements</h1>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Datetime</th>
            <th>Type</th>
            <th>Item</th>
            <th>TAG</th>
            <th>Status</th>
            <th>Sector</th>
            <th>Item price</th>
            <th colspan="1">Total: <%= @movements.count %></th>
          </tr>
        </thead>
        <tbody>
          <% @movements.each do |movement| %>
              <tr>
                <td><%= movement.datetime.strftime('%d/%m/%Y %T')%></td>
                <td><%= movement.type.name %></td>
                <td><%= movement.item.name %></td>
                <td><%= movement.item.bar_code %></td>
                <td><%= movement.status.describe %></td>
                <td><%= movement.sector.name %></td>
                <td><%= movement.item_price %></td>
                <td><%= link_to 'Show', movement %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <%= will_paginate @movements, renderer: BootstrapPagination::Rails %>
  </div>
</div>