<p id="notice"><%= notice %></p>

<h1>Movements</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Item</th>
      <th>Sector</th>
      <th>Floor</th>
      <th>Status</th>
      <th>Stock</th>
      <th>Type</th>
      <th>Moment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movements.each do |movement| %>
      <tr>
        <td><%= movement.item_id %></td>
        <td><%= movement.item %></td>
        <td><%= movement.sector %></td>
        <td><%= movement.floor %></td>
        <td><%= movement.status %></td>
        <td><%= movement.stock %></td>
        <td><%= movement.type %></td>
        <td><%= movement.moment %></td>
        <td><%= link_to 'Show', movement %></td>
        <td><%= link_to 'Edit', edit_movement_path(movement) %></td>
        <td><%= link_to 'Destroy', movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movement', new_movement_path %>
