<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime:</strong>
  <%= @movement.datetime %>
</p>

<p>
  <strong>Item:</strong>
  <%= @movement.item %>
</p>

<p>
  <strong>Status:</strong>
  <%= @movement.status %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @movement.sector %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @movement.floor %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @movement.item_price %>
</p>

<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>
