<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime:</strong>
  <%= @movement.datetime %>
</p>

<p>
  <strong>Id item:</strong>
  <%= @movement.id_item %>
</p>

<p>
  <strong>Id status:</strong>
  <%= @movement.id_status %>
</p>

<p>
  <strong>Id sector:</strong>
  <%= @movement.id_sector %>
</p>

<p>
  <strong>Id floor:</strong>
  <%= @movement.id_floor %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @movement.item_price %>
</p>

<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>
