<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime:</strong>
  <%= @movement.datetime.strftime('%d/%m/%Y %T') %>
</p>

<p>
  <strong>Item:</strong>
  <%= @movement.item.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @movement.status.name %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @movement.sector.describe %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @movement.floor.describe %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @movement.item_price %>
</p>

<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>
