<%= form_with(model: sector, local: true) do |form| %>
  <% if sector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sector.errors.count, "error") %> prohibited this sector from being saved:</h2>

      <ul>
      <% sector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :sector_name %>
  </div>

  <div class="field">
    <%= form.label :alias %>
    <%= form.text_field :alias, id: :sector_alias %>
  </div>

  <div class="field">
    <%= form.label :describe %>
    <%= form.text_area :describe, id: :sector_describe %>
  </div>

  <div class="field">
    <%= form.label :floor_id %>
    <%= form.text_field :floor_id, id: :sector_floor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
