<!DOCTYPE html>
<html>
<head>
  <title>DigiCart</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body class="skin-blue sidebar-mini" style="height: auto;">
<div class="wrapper" style="height: auto;">
  <%= render 'shared/menu/top' %>
  <%= render 'shared/menu/left' %>
  <div class="content-wrapper" style="min-height: 946px;">
    <section class="content">
      <%= yield %>
    </section>
  </div>
  <%= render 'shared/footer' %>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>